body{
    font-family: 'Oswald', sans-serif;
    color: #28231D;
}

.background{
    background-color: red;
}

.main_div{
    background-color: white;
     max-width: 950px; margin: auto;
     border: 4px solid black;
     border-radius: 8px;
}

header{
    width: 950px;
    height: 160px;
    padding-top: 40px;
    border-bottom: 4px solid black;
}

header img{
    width: 500px;
    display:block;
    margin: 0 auto;
}

section{
    display: flex;
}

article{
    width: 700px;
    border-right: 4px solid black;
}